.game-square {
    width: 8rem;
    height: 8rem;
    display: inline-flex;
    font-size: 80px;
    justify-content: center;
}

.board-row {
    display: flex;
}


@media only screen and (max-width: 900px) {
    .game-square {
        width: 5rem;
        height: 5rem;
    }
}