html,
body,
div#root,
.page-root {
    height: 100%;
    background-color: #d6ccf1;

    .main-content {

        .content {
            padding: 1rem;

            
        }
    }

}

// @media print {
//     .no-print {
//         display: none;
//     }
// }

@media screen {
    .print-only {
        display: none;
    }
}

.weather-widget {
    border: thick double rgba(0, 0, 0, 0.559);
    width: 20rem;
    margin: 3rem;
    text-align: center;
}

.widget-title {
    border-bottom: 2px;
    text-align: center;
}